# File temporanei generati dall'Arduino IDE
*.ino.eep
*.ino.elf
*.ino.hex
*.ino.map

# File del sistema operativo
.DS_Store
Thumbs.db

# Versioni precedenti conservate solo sul computer
OLED_MENU_2.4/
